/* Typography */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

@font-face {
  font-family: "cocogoose";
  src: url("fonts/cocogoose/cocogoose_pro_light-trial-webfont.woff2")
      format("woff2"),
    url("fonts/cocogoose/cocogoose_pro_light-trial-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "cocogoose";
  src: url("fonts/cocogoose/cocogoose_pro_semilight-trial-webfont.woff2")
      format("woff2"),
    url("fonts/cocogoose/cocogoose_pro_semilight-trial-webfont.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "cocogoose";
  src: url("fonts/cocogoose/cocogoose_pro-trial-webfont.woff2") format("woff2"),
    url("fonts/cocogoose/cocogoose_pro-trial-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */
:root {
  --primary-color: #272a31;
  --secondary-color: #d3d3d3;
  --accent-color: #ec5242;
  --body-color: #fff;
  --body--font: "Lato", sans-serif;
  --heading-font: "cocogoose";
}

/* Reset Styles */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

.page-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: var(--primary-color);
  height: 5vh;
}

.fa {
  color: var(--body-color);
  font-size: 1.4rem;
  padding-right: 1.5rem;
  position: relative;
  right: 20rem;
}

.info-label {
  font-family: var(--body--font);
  font-size: 1rem;
  color: var(--body-color);
  padding-right: 1.5rem;
  position: relative;
  right: 19rem;
}
