/* Typography */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

@font-face {
  font-family: "cocogoose";
  src: url("fonts/cocogoose/cocogoose_pro_light-trial-webfont.woff2")
      format("woff2"),
    url("fonts/cocogoose/cocogoose_pro_light-trial-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "cocogoose";
  src: url("fonts/cocogoose/cocogoose_pro_semilight-trial-webfont.woff2")
      format("woff2"),
    url("fonts/cocogoose/cocogoose_pro_semilight-trial-webfont.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "cocogoose";
  src: url("fonts/cocogoose/cocogoose_pro-trial-webfont.woff2") format("woff2"),
    url("fonts/cocogoose/cocogoose_pro-trial-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */
:root {
  --primary-color: #272a31;
  --secondary-color: #d3d3d3;
  --accent-color: #ec5242;
  --body-color: #fff;
  --heading-font: "cocogoose";
}

/* Reset Styles */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.page-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: var(--primary-color);
  height: 5vh;
}

.fa {
  color: var(--body-color);
  font-size: 1.4rem;
  padding-right: 1.5rem;
  position: relative;
  right: 20rem;
}

.info-label {
  font-size: 1rem;
  color: var(--body-color);
  padding-right: 1.5rem;
  position: relative;
  right: 19rem;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  max-width: 100%;
}

.nav-logo {
  height: 100px;
  width: 100px;
  position: relative;
  margin-top: 1.5rem;
  left: 2rem;
  z-index: -10;
}

.nav-links {
  text-align: center;
  position: relative;
  display: flex;
  right: 7.5rem;
}

.nav-items {
  display: flex;
  list-style: none;
}

.nav-items li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.35rem;
  padding-right: 4rem;
}

.nav-items li a:hover {
  color: var(--accent-color);
  transition: 0.5s;
}

.btn {
  position: relative;
  left: 3.5rem;
  border: 4px solid var(--accent-color);
  outline: none;
  background: transparent;
  color: var(--accent-color);
  padding: 0.75rem 1rem;
}

.btn:hover {
  background: var(--secondary-color);
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  .page-info {
    display: none;
  }
}
