/* Typography */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "cocogoose";
  src: url("fonts/cocogoose/cocogoose_pro_light-trial-webfont.woff2") format("woff2"), url("fonts/cocogoose/cocogoose_pro_light-trial-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "cocogoose";
  src: url("fonts/cocogoose/cocogoose_pro_semilight-trial-webfont.woff2") format("woff2"), url("fonts/cocogoose/cocogoose_pro_semilight-trial-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "cocogoose";
  src: url("fonts/cocogoose/cocogoose_pro-trial-webfont.woff2") format("woff2"), url("fonts/cocogoose/cocogoose_pro-trial-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */
:root {
  --primary-color: #272a31;
  --secondary-color: #d3d3d3;
  --accent-color: #ec5242;
  --body-color: #fff;
  --mobile-secondary-color: #d4d4d4;
  --heading-font: "cocogoose";
  --alternate-font: "Spartan", sans-serif;
}

/* Reset Styles */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
}

/* Header/Navigation Bar */
.page-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: var(--primary-color);
  height: 30px;
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
}

.fa-facebook-f {
  color: var(--body-color);
  font-size: 1.4rem;
  padding-right: 1.5rem;
  position: relative;
  right: 20rem;
}

.fa-twitter {
  color: var(--body-color);
  font-size: 1.4rem;
  padding-right: 1.5rem;
  position: relative;
  right: 20rem;
}

.info-label {
  font-size: 1.1rem;
  color: var(--body-color);
  padding-right: 1.5rem;
  position: relative;
  right: 19rem;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 100%;
  background: var(--body-color);
  position: fixed;
  z-index: 99;
  top: 2.8rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.nav-logo {
  height: 80px;
  width: 80px;
  position: relative;
  margin-top: 0.3rem;
  left: 2rem;
  object-fit: contain;
}

.nav-links {
  text-align: center;
  display: flex;
  align-items: center;
}

.nav-items {
  display: flex;
  list-style: none;
}

.nav-items li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.35rem;
  padding-right: 4rem;
  transition: 0.5s;
}

.nav-items li a:hover {
  color: var(--accent-color);
}

.btn {
  border: 4px solid var(--accent-color);
  outline: none;
  background: transparent;
  color: var(--accent-color);
  padding: 0.75rem 1rem;
  transition: 0.5s;
  cursor: pointer;
}

.btn:hover {
  background: var(--secondary-color);
}

.btn:active {
  background: #949292;
}

.fas.fa-times {
  display: none;
}

.fas.fa-bars {
  display: none;
}

/* Welcome Page */
.welcome-page {
  height: 100vh;
  background: rgb(211, 211, 211);
  background: linear-gradient(45deg, rgba(211, 211, 211, 0.9) 65%, rgba(255, 255, 255, 0.9) 95%), url(../images/festival.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 7rem;
  padding-bottom: 3rem;
}

.welcome-container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 1.6rem;
  width: 100%;
}

.text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 8%;
}

.text-box h1 {
  font-family: var(--heading-font);
  font-weight: 100;
  font-size: 2.2rem;
  color: var(--accent-color);
  margin-bottom: 2rem;
}

.text-box p {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 7rem;
  letter-spacing: 1.5px;
  margin-bottom: 0;
  background-image: url(../images/festival.jpg);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 0.95;
}

.year-text {
  font-family: var(--alternate-font);
  font-weight: 800;
  font-size: 6rem;
  margin-bottom: 0;
  background-image: url(../images/festival.jpg);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtext {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 12vh;
  border: 1.5px solid var(--body-color);
  border-radius: 5px;
  background: #d3d3d37a;
  padding: 1rem;
  text-align: left;
  margin-top: 2rem;
}

.subtext p {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--alternate-font);
  color: #272a31d6;
}

.date-text {
  font-family: var(--alternate-font);
  font-weight: 800;
  font-size: 2rem;
  color: #272a31ba;
  margin: 2rem 0;
}

.location-text {
  font-weight: 600;
  font-size: 1.8rem;
  color: #272a31ba;
  margin-top: -1rem;
}

/* Schedule Section */
.schedule-section {
  background: rgb(39, 42, 49);
  background: linear-gradient(145deg, rgba(39, 42, 49, 0.9) 80%, rgba(99, 94, 94, 0.3) 100%), url(../images/geometric-pattern.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.schedule-container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 1.6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;
}

.schedule-title {
  color: var(--body-color);
  font-size: 2.4rem;
  margin: 0 auto;
}

.solid {
  margin: 0.8rem auto 4rem auto;
  width: 32px;
  height: 0.5px;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.schedule-card {
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  background: #3f4147b4;
  transition: 0.5s;
}

.schedule-card:hover {
  transform: scale(1.05);
  border: 1px solid #898787cc;
}

.fa-ticket,
.fa-torii-gate,
.fa-sun,
.fa-volume-up {
  color: var(--secondary-color);
  font-size: 3rem;
}

.card-title {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 1.7rem;
  color: var(--accent-color);
}

.card-description {
  color: var(--secondary-color);
  padding: 0.5rem;
  line-height: 1.1;
  font-size: 1.4rem;
}

.whole-schedule {
  display: block;
  color: var(--body-color);
  font-size: 1.5rem;
  transition: 0.5s;
  margin: 2rem auto;
}

.whole-schedule:hover {
  color: var(--accent-color);
}

.btn-schedule {
  display: none;
}

/* Featured Acts */
.featured-acts {
  max-width: 100rem;
  margin: 0 auto;
  padding: 5rem 1.6rem;
  text-align: center;
}

.featured-title {
  color: var(--primary-color);
  margin: 0 auto;
  font-size: 2.4rem;
}

.featured-solid {
  width: 32px;
  height: 0.5px;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  margin: 0.8rem auto 3rem auto;
}

.acts-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
}

.act-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.card-images {
  width: 160px;
  height: auto;
  position: relative;
}

.card-image1 {
  width: 100px;
  height: 100px;
  z-index: 5;
  position: relative;
  top: 10px;
  bottom: 0;
  left: 20px;
}

.card-image2 {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  position: absolute;
  left: -10px;
  top: -10px;
}

.act-content {
  padding: 0 3.5rem;
}

.content-title {
  font-size: 2.2rem;
  color: #272a31c5;
  margin-bottom: 0.7rem;
}

.content-subhead {
  font-size: 1.4rem;
  color: var(--accent-color);
  font-style: italic;
  margin-bottom: 0.2rem;
}

.content-solid {
  width: 8%;
  height: 0.5px;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  margin: 1rem 0;
}

.content-description {
  color: var(--primary-color);
  font-size: 1.3rem;
  line-height: 1.2;
  padding-top: 0.2rem;
}

.btn-collapse {
  display: none;
}

/* About Page */
.about-page {
  background: url(../images/main-bg.png);
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 7rem;
  padding-bottom: 3rem;
}

.about-container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 1.6rem;
  width: 100%;
  position: relative;
}

.about-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 7rem;
}

.about-text-box h1 {
  font-family: var(--heading-font);
  font-weight: 100;
  font-size: 1.8rem;
  color: var(--accent-color);
  margin-bottom: 2rem;
}

.about-text-box h2 {
  font-family: var(--alternate-font);
  font-weight: 800;
  font-size: 4.5rem;
  color: var(--accent-color);
}

.about-subtext {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  border: 1.5px solid #d3d3d37a;
  border-radius: 5px;
  background: var(--body-color);
  padding: 1.5rem;
  text-align: left;
  margin-top: -1rem;
}

.about-subtext-desk {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: var(--alternate-font);
  color: #272a31d6;
  line-height: 1.3;
  margin: 2rem;
}

.about-subtext-mobile {
  display: none;
}

.contact-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reach-out {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primary-color);
}

.to-home {
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: 600;
  transition: 0.5s;
  text-decoration: underline;
}

.to-home:hover {
  color: var(--accent-color);
}

.email-add {
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: 600;
  transition: 0.5s;
}

.email-add:hover {
  color: var(--accent-color);
}

.about-logo {
  max-width: 100rem;
  margin: 0 auto;
  padding: 1.6rem;
  width: 100%;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5rem;
}

.logo-container h2 {
  margin: 0 auto 1rem auto;
  font-size: 3rem;
}

.logo-container p {
  margin: -1rem auto 0 auto;
  text-align: center;
  font-size: 1.5rem;
}

.logo-image-container {
  width: 800px;
  height: 300px;
  border: 2px solid var(--secondary-color);
  margin: 4rem auto 3rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-image {
  width: 450px;
  height: 250px;
  margin: 3rem auto 0 auto;
  border: var(--secondary-color);
}

.solid2 {
  margin: 0 auto;
  width: 100vw;
  background-color: rgba(204, 198, 198, 0.66);
}

.see-past {
  max-width: 100rem;
  margin: 0 auto;
  padding: 1.6rem;
  width: 100%;
}

.see-past-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 4rem;
}

.past-heading {
  margin: 0 auto 1rem auto;
  font-size: 3rem;
}

.past-text {
  margin: -1rem auto 0 auto;
  text-align: center;
  font-size: 1.5rem;
}

.about-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding-bottom: 4rem;
}

.past-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  position: relative;
}

.past-img {
  width: 450px;
  height: 280px;
}

.layer {
  background: #e53f2d95;
  height: 280px;
  width: 450px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 0.5rem;
  top: 0;
  left: 0%;
}

.layer h2 {
  color: var(--body-color);
  font-size: 3.5rem;
}

.layer p {
  color: var(--body-color);
  font-size: 1.6rem;
  font-weight: 600;
  margin: 1.5rem 0 1.5rem 0;
}

/* Footer Section */
.partner-section {
  background: var(--primary-color);
}

.partner-container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 1.6rem;
  width: 100vw;
}

.partner-container h2 {
  margin: 0 auto;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--mobile-secondary-color);
  padding-top: 2rem;
}

.partner-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: -5rem;
}

.heineken-logo {
  width: 20vw;
}

.cocacola-logo {
  width: 11vw;
  margin-left: 1.2rem;
}

.samsung-logo {
  width: 13vw;
  margin-left: 1.5rem;
}

.spotify-logo {
  width: 11.5vw;
  margin-left: 2rem;
}

.footer-section {
  background: var(--secondary-color);
}

.footer-container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 4rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.footer-logo {
  width: 80px;
  height: 50px;
}

.index-footer-text {
  font-size: 1.4rem;
  color: var(--primary-color);
}

.fa-registered {
  font-size: 1.1rem;
}

/* About Footer Section */
.about-partner-section {
  background: var(--primary-color);
  display: none;
}

.about-partner-container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 1.6rem;
  width: 100vw;
}

.about-partner-container h2 {
  margin: 0 auto;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--mobile-secondary-color);
  padding-top: 2rem;
}

.about-partner-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: -5rem;
}

.about-footer-section {
  background: var(--primary-color);
}

.about-footer-container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 4rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.about-footer-logo {
  width: 80px;
  height: 50px;
  border-radius: 2px;
}

.footer-logo-mobile {
  display: none;
}

.about-footer-text {
  font-size: 1.4rem;
  color: var(--secondary-color);
}

@media screen and (max-width: 768px) {
  /* Header/Navigation Bar */
  .page-info {
    display: none;
  }

  .nav-bar {
    display: flex;
    background: transparent;
    position: absolute;
    top: 0;
    margin-top: 0;
    box-shadow: none;
    justify-content: flex-start;
  }

  .nav-logo {
    display: none;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: rgba(236, 83, 66, 0.93);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 250px;
    top: 0;
    left: -250px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  .nav-items {
    flex-direction: column;
    padding-top: 7rem;
    padding-left: 4rem;
    line-height: 5rem;
    letter-spacing: 3px;
  }

  .nav-items li a {
    color: var(--mobile-secondary-color);
    font-size: 2rem;
  }

  .btn {
    display: flex;
    justify-content: center;
    border: 3px solid var(--mobile-secondary-color);
    color: var(--mobile-secondary-color);
    max-width: 50%;
    padding: 1rem 3rem;
    margin-top: 2rem;
    white-space: nowrap;
  }

  .btn:hover {
    background-color: var(--accent-color);
  }

  .fas.fa-times {
    display: block;
    color: var(--primary-color);
    margin: 1.5rem;
    position: absolute;
    left: -1rem;
    padding-left: 0.75rem;
    font-size: 2.2rem;
    cursor: pointer;
  }

  .fas.fa-bars {
    display: block;
    color: var(--primary-color);
    font-size: 2.8rem;
    position: absolute;
    left: 1rem;
    cursor: pointer;
  }

  /* Welcome Page */
  .welcome-page {
    padding-top: 7rem;
  }

  .text-box h1 {
    font-size: 1.5rem;
  }

  .text-box p {
    font-size: 5.5rem;
    margin-bottom: 0;
  }

  .year-text {
    font-size: 4.5rem;
  }

  .subtext {
    width: 100%;
    margin-top: 4rem;
    text-align: center;
  }

  .subtext p {
    font-size: 1.4rem;
  }

  .date-text {
    font-size: 1.5rem;
  }

  .location-text {
    font-size: 1.5rem;
    margin-top: -1rem;
  }

  /* Schedule Section */
  .schedule-section {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }

  .schedule-container {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
  }

  .schedule-card {
    display: grid;
    grid-template-columns: 2rem 5rem 1fr;
    gap: 1.8rem;
    align-items: center;
    transition: all 0.8s ease-in-out;
  }

  .fa-ticket,
  .fa-torii-gate,
  .fa-sun,
  .fa-volume-up {
    font-size: 2rem;
  }

  .card-title {
    text-align: left;
    font-size: 1.2rem;
    margin: 0;
  }

  .card-description {
    text-align: left;
    font-size: 1.1rem;
  }

  .whole-schedule {
    display: none;
  }

  .btn-schedule {
    display: block;
    background: var(--accent-color);
    border: none;
    color: var(--body-color);
    outline: none;
    margin: 0 auto;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .btn-schedule:active {
    background: var(--mobile-secondary-color);
  }

  /* Featured Acts */

  .acts-container {
    grid-template-columns: 1fr;
  }

  .btn-collapse {
    display: flex;
    color: var(--secondary-color);
    margin: 0 auto;
    padding-right: 6rem;
    padding-left: 6rem;
    column-gap: 1.5rem;
    align-items: center;
    border: 2px solid var(--accent-color);
  }

  .btn-collapse span {
    color: var(--accent-color);
  }

  .btn-collapse:hover {
    background-color: var(--body-color);
  }

  .fa-angle-down {
    color: inherit;
    margin-left: 0.5rem;
  }

  .fa-angle-down:hover {
    color: var(--secondary-color);
  }

  .btn-collapse:active {
    background: var(--mobile-secondary-color);
  }

  .fa-angle-up {
    color: inherit;
    margin-left: 0.5rem;
  }

  .collapse {
    display: none;
  }

  .hide {
    display: none;
  }

  /* About Section */
  .about-page {
    padding-top: 4rem;
  }

  .about-text-box h1 {
    font-size: 1.5rem;
  }

  .about-text-box h2 {
    font-size: 4rem;
  }

  .about-subtext {
    display: flex;
    height: 30vh;
  }

  .about-subtext-desk {
    display: none;
  }

  .about-subtext-mobile {
    display: block;
    font-size: 1.4rem;
    height: 5vh;
    padding-bottom: 15rem;
    font-weight: 400;
  }

  .logo-container h2 {
    font-size: 2.2rem;
  }

  .logo-container p {
    font-size: 1.4rem;
  }

  .logo-image-container {
    width: 320px;
    height: 300px;
  }

  .logo-image {
    width: 300px;
    height: 170px;
  }

  .past-heading {
    font-size: 1.85rem;
  }

  .past-text {
    font-size: 1.4rem;
  }

  .about-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .past-images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    position: relative;
  }

  .past-img {
    width: 350px;
    height: 250px;
  }

  .layer {
    height: 250px;
    width: 350px;
  }

  .layer h2 {
    color: var(--body-color);
    font-size: 3.5rem;
  }

  .layer p {
    margin: 0.5rem 0 1.5rem 0;
    padding: 1rem;
    text-align: center;
  }

  /* Footer Section */
  .partner-logos {
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }

  .heineken-logo {
    width: 50vw;
  }

  .cocacola-logo {
    width: 30vw;
    margin-left: 0;
  }

  .samsung-logo {
    width: 35vw;
  }

  .spotify-logo {
    width: 32vw;
  }

  .footer-section {
    background: var(--secondary-color);
    padding-bottom: 2rem;
  }

  .footer-container {
    justify-content: space-around;
  }

  .footer-logo {
    width: 80px;
    height: 50px;
  }

  .footer-container p {
    font-size: 1.1rem;
  }

  .fa-registered {
    font-size: 1.1rem;
  }

  /* About Footer Section */
  .about-partner-section {
    display: block;
  }

  .about-partner-logos {
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }

  .about-footer-section {
    background: var(--body-color);
    padding-bottom: 1rem;
  }

  .about-footer-container {
    justify-content: space-around;
  }

  .about-footer-logo {
    display: none;
    width: 80px;
    height: 50px;
  }

  .footer-logo-mobile {
    display: block;
    width: 80px;
    height: 50px;
  }

  .about-footer-text {
    font-size: 1.1rem;
    color: var(--primary-color);
  }
}
